/*.maroon { color: #a31d3b; }
.off-white { color: #ebfef7; }
less blue white: edf7f3
*/

body {
  background-color: #edf7f3;
  color: #a31d3b;
}

header {
  text-align: center;
  font-size: 3rem;
  font-family: 'Zilla Slab', serif;
  margin-top: 10rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header svg {
  margin-right: 1rem;
  width: 3rem;
}

main {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

p {
  margin: .2rem;
}
