@import 'resume';

/*.maroon { color: #a31d3b; }
.off-white { color: #ebfef7; }
less blue white: edf7f3
*/
$wine-red: #a31d3b;
$blue-white: #edf7f3;
$black: #000;

body {
  background-color: $blue-white;
  color: $wine-red;
}

header {
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Zilla Slab', serif;
  margin-top: .5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;

  svg {
    margin-right: 1rem;
    width: 3rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;

  // p {
  //   margin: .2rem;
  // }
}
