@import 'resume';

/*.maroon { color: #a31d3b; }
.off-white { color: #ebfef7; }
less blue white: edf7f3
*/
$wine-red: #a31d3b;
$blue-white: #edf7f3;
$black: #000;

body {
  background-color: $blue-white;
  color: $wine-red;
}

header {
  text-align: center;
  font-size: 3rem;
  font-family: 'Zilla Slab', serif;
  margin-top: 10rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 1rem;
    width: 3rem;
  }
}

main {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;

  p {
    margin: .2rem;
  }
}
